<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Contacts App</title>
    <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
    <script src="/webjars/htmx.org/1.9.3/dist/htmx.min.js"></script>
</head>
<body hx-boost="true">
<header>
    <h1>
        It's a contacts app!
        Like they made in hypermedia.systems!
    </h1>
</header>
<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" th:value="${q}"/>
    <input type="submit" value="Search"/>
</form>
<table>
    <thead>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact: ${contacts}">
        <td th:text="${contact.firstName()}"/>
        <td th:text="${contact.lastName()}"/>
        <td th:text="${contact.phone()}"/>
        <td th:text="${contact.email()}"/>
        <td><a th:href="|/contacts/${contact.id()}/edit|">Edit</a>
            <a th:href="|/contacts/${contact.id()}|">View</a></td>
    </tr>
    <tr th:if="${contacts.size() == 10}">
        <td colspan="5" style="text-align: center">
            <button hx-target="closest tr"
                    hx-swap="outerHTML"
                    hx-select="tbody > tr"
                    th:hx-get="|/contacts?page=${page+1}|">
                Load More
            </button>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <a href="/contacts/new">Add Contact</a>
</p>
</body>
</html>