<tr th:each="contact: ${contacts}">
    <td th:text="${contact.firstName()}"/>
    <td th:text="${contact.lastName()}"/>
    <td th:text="${contact.phone()}"/>
    <td th:text="${contact.email()}"/>
    <td><a th:href="|/contacts/${contact.id()}/edit|">Edit</a>
        <a th:href="|/contacts/${contact.id()}|">View</a></td>
</tr>
<tr th:if="${contacts.size() == 10}">
    <td colspan="5" style="text-align: center">
            <span hx-target="closest tr"
                  hx-trigger="revealed"
                  hx-swap="outerHTML"
                  th:hx-get="|/contacts?q=${q}&page=${page+1}|">
                Load More
            </span>
    </td>
</tr>